openapi: 3.0.1
info:
  title: TODO Plugin
  description: A plugin that allows the user to create and manage a TODO list using ChatGPT. If you do not know the user's username, ask them first before making queries to the plugin. Otherwise, use the username "global".
  version: 'v1'
servers:
  - url: https://ai.design.garden
paths:
  /authenticate:
    post:
      operationId: authenticate
      summary: Authenticate the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticateRequest'
      responses:
        "200":
          description: OK
  /create_post:
    post:
      operationId: create_post
      summary: Create a post on the WordPress site
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
      responses:
        "200":
          description: OK

components:
  schemas:
    AuthenticateRequest:
      type: object
      required:
      - domain
      - username
      - password
      properties:
        domain:
          type: string
          description: The domain of the WordPress site.
        username:
          type: string
          description: The username of the WordPress site.
        password:
          type: string
          description: The password of the WordPress site.
    CreatePostRequest:
      type: object
      required:
      - domain
      - username
      properties:
        domain:
          type: string
          description: The domain of the WordPress site.
        username:
          type: string
          description: The username of the WordPress site.